/* 页面布局 */
/*----------------------------*/
html,body {
	margin: 0;
	padding: 0;
	background: #efefef;
}
.g-header {
	height: 90px;
	background-color: #fff;
}
.m-topbar {
	position: relative;
	width: 1076px;
	margin: 0 auto; 
}
.g-banner {
	position: relative;
	height: 356px;
	/*background: skyblue;*/
}
.g-body {
	position: relative;
	width: 1076px;
	margin: 0 auto;
	/*min-height: 1000px;*/
}
.g-main {
	position: relative;
	left: 0;
	width: 760px;
	/*height: 100%;*/
	background: #efefef;
}
.g-side {
	position: absolute;
	top: 0;
	right: 0;
	width: 295px;
	/*height: 100%;*/
	background: #efefef;
}
.g-footer {
	width: 1076px;
	height: 84px;
	margin: 38px auto;
	font-size: 0;
	/*background: #5ed0ba;*/
	/*margin-top: 38px;*/
}

/* 顶栏样式 */
/*----------------------------*/

/* logo */
.m-topbar .logo {
	display: inline-block;
	width: 280px;
	height: 90px;
	background-image: url('../res/images/logo.png');
}
/* 导航栏 */
.m-nav {
	position: absolute;
	left: 310px; /*290+20*/
	top: 25px; /*25*/
	/*width: 313px; */ /* 此处可能有问题 勿删*/
	height: 37px;
}
.m-nav ul {
	padding: 0;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
	height: 33px;
	cursor: pointer; /*li之间似乎有间隙,移动鼠标会变成输入光标,所以此处改成pointer*/
}
.m-nav ul li {
	padding: 0 20px;
	list-style-type: none;
	display: inline-block;
	font-size: 14px;
	color: #dcdddd;
	line-height: 33px;
	cursor: pointer;
}
.m-nav ul li a {
	text-decoration: none;
	color: inherit;	
}
.m-nav ul li:hover,
.m-nav ul li.z-active {
	color: #5ed0ba;
}
.m-nav .tabs_cursors {
	position: relative;
	height: 4px;
	width: 313px;
	border-radius: 2px;
	background-color: #dcdddd;
}
.m-nav .tabs_cursors .tabs_cursor {
	position: absolute;
	height: 4px;
	border-radius: 2px;
	background-color: #5ed0ba;
	transition: ease 0.1s;
}
/* 搜索框 */
.m-search {
	position: absolute;
	left: 659px; /*290+20+ 313 + 36*/
	top: 25px; /*25*/
	width: 197px;
	height: 40px;
	border: 2px solid #67d3be;
	border-radius: 2px;
	box-sizing: border-box;
}
.m-search #search-box {
	position: absolute;
	top: 13px;
	left: 16px;
	color: #000;
	font-size: 13px;
	line-height: 15px;
	width: 149px;
	height: 13px;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
}
.m-search #search-box::-webkit-input-placeholder {
	color: #898989;
	font-size: 13px;
}
.m-search span{
	position: absolute;
	right: 12px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-image: url('../res/images/search.png');
	cursor: pointer;
}
/* 个人信息 */
.m-entry {
	position: absolute;
	left: 885px; /*290+20+ 313 + 36 + 197 + 29 */
	top: 25px; /*25*/
	width: 186px; /*182*/
	height: 38px;
	font-size: 0;
}
.m-btn {	
	padding: 0;
	width: 90px;
	height: 38px;	
	line-height: 38px;
	font-size: 12px;
	color: white;
	border: none;
	outline: none;
	box-sizing: border-box;
	background-color: #5ed0ba;
	border-radius: 4px;	
	cursor: pointer;
}

.m-btn-1 {
	margin-left: 2px;
	color: #5ed0ba;
	background-color: white;
	cursor: auto;
}
.m-btn-1 a {
	color: #5ed0ba;
	text-decoration: none;
}

/*banner 样式*/
/*----------------------------*/

.m-sliders {
	position: relative;
	height: 100%;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
/* 轮播图 */
.m-sliders .slide {
	position: absolute;
	height: 100%;
	width: 100%;
}
.m-sliders .slide img{
	position: absolute;
	width: 100%;
	top: 20%;
	transform: translateY(-20%);
}

/* 指示器 */
.m-cursors {
	position: absolute;
	left: 50%;
	bottom: 14px;
	width: 90px;
	height: 20px;	
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	transform: translateX(-50%);
	z-index: 1;
}
.m-cursors ul {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100%;
	font-size: 0;
}
.m-cursors ul li {
	list-style-type: none;
	display: inline-block;
	height: 20px;
	padding: 5px;
}
.m-cursors ul li span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #dedfdf;
	cursor: pointer;
}
.m-cursors ul li span:hover {
	background-color: #5ed0ba;
}
.m-cursors ul li span.z-active {
	background-color: #5ed0ba;
}

/* 主要内容区 样式*/
/*----------------------------*/

.m-column {
	position: relative;	
	margin-top: 24px;
	background-color: white;
}

/* 标题栏 */
.m-column .header {
	position: relative;
	height: 72px;
	line-height: 72px;
	font-size: 0;
	border: 1px solid #e1e2e2;
	border-bottom-color: transparent;
}
.m-column .header * {
	vertical-align: middle;
	display: inline-block;
}
.m-column .header .logo {
	width: 46px;
	height: 46px;
	margin-left: 22px;
	background-image: url("../res/images/sprite.png");
	background-repeat: no-repeat;
}
.m-column .header .title{
	margin-left: 10px;
	font-size: 15px;
	letter-spacing: 9px;
}
.m-column .header .more {
	position: absolute;
	right: 27px;
	font-size: 14px;
	color: #727171;
	letter-spacing: 9px;
}
.m-column .header .more span {
	width: 30px;
	height: 30px;
	background-image: url("../res/images/right_2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
/* 内容块 */
.m-column .content {
	height: 308px;
	box-sizing: border-box;
	border: 1px solid #e1e2e2;
}
.m-column .content ul {
	margin: 0;
	padding: 0;
	font-size: 0;
}
.m-column .content ul li {
	display: inline-block;
	list-style-type: none;	
}

/*精选推荐*/
.m-recommand {
	margin-top: 48px;
	background-color: #efefef;
}
.m-recommand .header {
	border: none;
}
.m-recommand .header .logo {
	background-position: 0 0;
}
.m-recommand .header .more span {
	background-image: url("../res/images/right.png");
}
.m-recommand .content {
	height: 296px;
}
.m-recommand .content ul li {
	height: 269px;
	width: 174px;
	margin: 11px 0 14px 12px;
}




/*明日之星*/
.m-star .header .logo {
	background-position: 0 -46px;
}
.m-star .content ul {
	padding-top: 11px;
}
.m-star .content ul li {
	position: relative;
	width: 360px;
	height: 95px;
	margin: 0 0 -1px 12px;
	box-sizing: border-box;
	border: 1px solid #e1e2e2;
	/*font-size: 0;*/
	/*line-height: 95px;*/
}
.m-star .content ul li>* {
	position: absolute;
}
.m-star .content ul li a{
	top: 12px;
	left: 20px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}
.m-star .content ul li a img{
	width: 70px;
}
.m-star .content ul li h4,
.m-star .content ul li p {
	margin: 0;
	left: 114px;
}
.m-star .content ul li h4 {
	bottom: 52px;
	font-size: 13px;
}
.m-star .content ul li p {
	bottom: 28px;
	font-size: 10px;
	color: #727171;
}
.m-star .content ul li p span {
	padding: 0 20px 0 7px;
	font-size: 8px;
}
.m-btn-2 {
	top: 34px;
	right: 28px;
	width: 60px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	letter-spacing: 5px;
	border-radius: 3px;
}

/*最新作品*/
.m-lastest .header .logo {
	background-position: 0 -92px;
}
.m-lastest .content ul li {
	position: relative;
	width: 136px;
	height: 133px;
	margin-left: 13px;
	margin-top: 12px;
	box-sizing: border-box;
	/*border: 1px solid #e1e2e2;*/
}
.m-lastest .content ul li>* {
	position: absolute;
}
.m-lastest .content ul li a,
.m-lastest .content ul li a img {
	width: 136px;
	height: 113px;
}
.m-lastest .content ul li p {
	bottom: 0;
	height: 20px;
	width: 100%;
	margin: 0;
	line-height: 20px;
	color: #727171;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}


/*活动进行时*/
.m-activities .header .logo {
	background-position: 0 -138px;
}
.m-activities .content {
	height: 328px;  /*  自适应 */
}
.m-activities .content ul {
	padding: 18px 23px 0;
}
.m-activities .content ul li {
	position: relative;
	width: 100%;
	height: 130px;
	margin-bottom: 16px;
}
.m-activities .content ul li:nth-child(2) {
	height: 145px;
}
.m-activities .content ul li>* {
	position: absolute;
}
.m-btn-3 {
	right: 27px;
	width: 74px;
	height: 27px;
	line-height: 27px;
	border-radius: 3px;
}
.m-activities .content ul li .m-btn-3:nth-of-type(1) {
	top: 26px;
}
.m-activities .content ul li .m-btn-3:nth-of-type(2) {
	top: 64px;
}
.m-activities .content ul li a,
.m-activities .content ul li a img {
	width: 567px;
	height: 130px;
}
.m-activities .content ul li:nth-child(2) a,
.m-activities .content ul li:nth-child(2) a img {
	height: 144px;
}
.m-activities .content ul li:nth-child(2) .m-btn-3:nth-of-type(1) {
	top: 35px;
}
.m-activities .content ul li:nth-child(2) .m-btn-3:nth-of-type(2) {
	top: 74px;
}
.m-activities .content ul li .poster {
	top: -15px;
	right: 120px;
	width: 82px;
	height: 90px;
	background-image: url("../res/images/poster.png");
}
.m-activities .content ul li:nth-child(2) .poster {
	top: -6px;
	right: 126px;
}






/*我们都爱原创*/ 
.m-original .header .logo {
	background-position: 0 -184px;
}
/*我们都是同人粉*/
.m-friends .header .logo {
	background-position: 0 -230px;
}
/*看谁临摹的更好*/
.m-reproduction .header .logo {
	background-position: 0 -276px;
}
/* 最后三个栏目的内容区是一样的 */
.m-column-repeat .content ul li {
	float: left;
	width: 136px;
	height: 133px;
	margin-left: 13px;
	margin-top: 12px;
}
.m-column-repeat .content ul li.big {
	height: 258px;
}
.m-column-repeat .content ul li.big a,
.m-column-repeat .content ul li.big a img  {
	width: 136px;
	height: 258px;
}
.m-column-repeat .content ul li a,
.m-column-repeat .content ul li a img {
	display: inline-block;
	width: 136px;
	height: 113px;
}
.m-column-repeat .content ul li p {
	height: 20px;
	width: 100%;
	margin: 0;
	line-height: 20px;
	color: #727171;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}





/* 侧栏样式 */
/*-----------------------------------*/
.m-column-side {
	width: 295px;
	background-color: white;
}
.m-column-side .header,
.m-column-side .content {
	box-sizing: border-box;
	border: 1px solid #e1e2e2;
}
.m-column-side .header {
	height: 72px;	
	border-bottom: none;
	font-size: 0;
}
.m-column-side .header * {
	display: inline-block;
	line-height: 72px;
	vertical-align: middle;
}

.m-column-side .header .title {
	height: 100%;
	font-size: 15px;
	letter-spacing: 9px;
	box-sizing: border-box;
}
.m-column-side .content {
	height: 294px;	
	text-align: center;
}

/* 侧栏-我的作品 */
.m-my_work .header .icon {
	position: absolute;
	left: -15px;
	top: -18px;
	width: 101px;
	height: 111px;
	background-image: url("../res/images/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
}
.m-my_work .header .icon img {
	position: absolute;
	height: 111px;
	z-index: -1;	
}
.m-my_work .header .title {
	width: 222px;
	padding-left: 104px;
	color: white;
	background-color: #5ed0ba;
}
.m-my_work .header .more {
	width: 71px;
	height: 100%;
	border-left: 1px solid #e1e2e2;
	box-sizing: border-box;
	text-align: center;
}
.m-my_work .header .more a img{
	width: 30px;
	height: 30px;
}
.m-my_work .content .image {
	width: 271px;
	height: 271px;
	margin: 11px auto;
	background-image: url("../res/images/placeholder_2.png");
}

/* 侧栏-圈子 */
.m-community {
	margin-top: 28px;
}
.m-community .header {
	border: none;
}
.m-community .header .title {
	width: 50%;
	padding: 0;
	color: #727171;
	font-size: 13px;
	letter-spacing: 8px;
	text-align: center;
	border: 1px solid #e1e2e2;
}
.m-community .header .title.active {
	color: white;
	background-color: #5ed0ba;
	border: none;
}
.m-community .content {
	border-top: none;
	border-bottom: none;
	height: 336px;
}
.m-community .content ul {
	margin: 0;
	padding: 11px 0 0 11px;
}
.m-community .content ul li {
	list-style-type: none;
	position: relative;
	height: 87px;
	width: 268px;
	margin-bottom: 11px;
}
.m-community .content ul li:last-child {
	margin-bottom: 0;
}
.m-community .content ul li a,
.m-community .content ul li div {
	position: absolute;
	height: 87px;
}
.m-community .content ul li a {
	left: 0;
	width: 87px;
}
.m-community .content ul li a img {
	width: 87px;
	height: 87px;
}
.m-community .content ul li div {
	right: 0;
	width: 168px;
	text-align: left;
	border-bottom: 1px solid #e1e2e2;
	box-sizing: border-box;
}
.m-community .content ul li:last-child div {
	border: none;
}
.m-community .content ul li div h4 {
	margin: 0;
	margin-top: 20px;
	margin-left: 35px;
	color: black;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
}
.m-community .content ul li div p {
	margin: 0;
	margin-top: 12px;
	margin-left: 35px;
	color: #727171;
	font-size: 10px;
}
.m-community .content ul li div p span {
	margin-left: 6px;
}
.m-community .content .more {
	width: 100%;
	height: 30px;
	color: #727171;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 8px;
	vertical-align: middle;
}
.m-community .content .more span {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url("../res/images/right_2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
}


/* 侧栏-热门话题 */
.m-topic .header {
	border: none;
}
.m-topic .header .title {
	width: 100%;
	color: white;
	font-size: 13px;
	letter-spacing: 8px;
	text-align: center;	
	background-color: #5ed0ba;
}
.m-topic .content {
	border-top: none;
	height: 308px;
}
.m-topic .content ul {
	margin: 0;
	padding-left: 10px;
}
.m-topic .content ul li {
	list-style-type: none;
	position: relative;
	padding: 10px 28px;
	height: 55px;
	width: 272px;
	box-sizing: border-box;
	border-bottom: 1px solid #e1e2e2;
}
.m-topic .content ul li:last-child {
	height: 50px;
	border-bottom: none;
}
.m-topic .content ul li p{
	margin: 0;
	color: black;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	line-height: 18px;
}
.m-topic .content .more {
	width: 100%;
	height: 30px;
	color: #727171;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 8px;
	vertical-align: middle;
}
.m-topic .content .more span {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url("../res/images/right_2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
}

/* 侧栏-排行 */
.m-rank {
	margin-top: 30px;
	border: 1px solid #e1e2e2;
}
.m-rank .header {
	border: none;
	height: 65px;
	position: relative;
}
.m-rank .header .title {
	width: 100px;
	color: white;
	font-size: 13px;
	letter-spacing: 8px;
	text-align: center;	
	background-color: #5ed0ba;
}
.m-rank .m-nav{
	left: 100px;
	top: 0;
	height: 65px;
	line-height: 65px;
}
.m-rank .m-nav ul {
	height: inherit;
	line-height: 65px;
	padding-left: 6px;
}
.m-rank .m-nav li {
	padding: 0 12px;
	height: inherit;
	line-height: 65px;
}
.m-rank .m-nav li a {
	height: inherit;
	line-height: 65px;
	letter-spacing: 5px;
}
.m-rank .tabs_cursors{
	top: -37px;
	left: 9px;
	width: 174px;
}
.m-rank .content {
	border: none;
	height: 745px;
}
.m-rank .content ul {
	margin: 0;
	padding-left: 12px;
	padding-top: 7px;
}
.m-rank .content ul li {
	list-style-type: none;
	position: relative;
	width: 270px;
	height: 146px;
	box-sizing: border-box;
	border-bottom: 1px solid #e1e2e2;
}
.m-rank .content ul li:last-child {
	border-bottom: none;
}
.m-rank .content ul li > * {
	position: absolute;
}
.m-rank .content ul li a{
	top: 16px;
	left: 4px;
	width: 136px;
	height: 114px;
	overflow: hidden;
}
.m-rank .content ul li a img{
	width: 136px;
}
.m-rank .content ul li h4,
.m-rank .content ul li h5,
.m-rank .content ul li p {
	margin: 0;
	left: 154px;
}
.m-rank .content ul li h4 {
	top: 34px;
	font-size: 13px;
	letter-spacing: 2px;
}
.m-rank .content ul li h5 {
	top: 56px;
	font-size: 13px;
	color: #727171;
	letter-spacing: 2px;
}
.m-rank .content ul li p {
	bottom: 36px;
	font-size: 10px;
	color: #727171;
}
.m-rank .content ul li p span {
	padding: 0 20px 0 7px;
	font-size: 8px;
}



/* 底部样式 */
/*-----------------------------------*/
.m-links,
.m-about {
	display: inline-block;
	font-size: 15px;
	text-align: center;
	letter-spacing: 9px;
	line-height: 84px;
}
.m-links {
	color: white;
	background: #5ed0ba;
	width: 760px;
}
.m-about {
	margin-left: 21px;
	background: white;
	width: 295px;
	border: 1px solid #e1e2e2;
	box-sizing: border-box;
}